@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 33% 97%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 96%;
    --secondary-foreground: 0 0% 0%;
    --muted: 30 10% 96%;
    --muted-foreground: 20 5% 45%;
    --accent: 30 10% 96%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 10% 85%;
    --input: 20 10% 85%;
    --ring: 0 0% 0%;
    --footer-background: 0 0% 0%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    overscroll-behavior: none;
    background-color: hsl(var(--footer-background));
  }
  body {
    @apply text-foreground font-sans antialiased;
    background-color: hsl(var(--background));
    overscroll-behavior: none;
  }
  #root {
    min-height: 100%;
    background-color: hsl(var(--background));
  }
}
